@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?38274827');
  src: url('../font/fontello.eot?38274827#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?38274827') format('woff'),
       url('../font/fontello.ttf?38274827') format('truetype'),
       url('../font/fontello.svg?38274827#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?38274827#fontello') format('svg');
  }
}
*/
 
 [class^="icons-"]:before, [class*=" icons-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
i.icons-cakephp:before { content: '\e867'; } /* '' */
i.icons-lkdto:before { content: '\e866'; } /* '' */
i.icons-help:before { content: '\e869'; } /* '' */
i.icons-php:before { content: '\e86a'; } /* '' */
i.icons-python:before { content: '\e86b'; } /* '' */
i.icons-ruby:before { content: '\e86c'; } /* '' */
i.icons-nodejs:before { content: '\e86e'; } /* '' */
i.icons-config:before { content: '\e8ae'; } /* '' */
i.icons-sign-out:before { content: '\e8af'; } /* '' */
i.icons-user:before { content: '\e8b0'; } /* '' */
i.icons-users:before { content: '\e8b1'; } /* '' */
i.icons-arrow-back:before { content: '\e8b2'; } /* '' */
i.icons-arrow-front:before { content: '\e8b3'; } /* '' */
i.icons-arrow-down:before { content: '\e8b4'; } /* '' */
i.icons-arrow-up:before { content: '\e8b5'; } /* '' */
i.icons-reload:before { content: '\e8b6'; } /* '' */
i.icons-circle-close:before { content: '\e8b7'; } /* '' */
i.icons-exclamation-circle:before { content: '\e8b8'; } /* '' */
i.icons-aboveground-rail:before { content: '\e8ad'; } /* '' */
i.icons-airfield:before { content: '\e86f'; } /* '' */
i.icons-airport:before { content: '\e870'; } /* '' */
i.icons-art-gallery:before { content: '\e871'; } /* '' */
i.icons-bar:before { content: '\e872'; } /* '' */
i.icons-baseball:before { content: '\e873'; } /* '' */
i.icons-basketball:before { content: '\e874'; } /* '' */
i.icons-beer:before { content: '\e875'; } /* '' */
i.icons-belowground-rail:before { content: '\e876'; } /* '' */
i.icons-bicycle:before { content: '\e877'; } /* '' */
i.icons-bus:before { content: '\e878'; } /* '' */
i.icons-cafe:before { content: '\e879'; } /* '' */
i.icons-campsite:before { content: '\e87a'; } /* '' */
i.icons-cemetery:before { content: '\e87b'; } /* '' */
i.icons-cinema:before { content: '\e87c'; } /* '' */
i.icons-college:before { content: '\e87d'; } /* '' */
i.icons-commerical-building:before { content: '\e87e'; } /* '' */
i.icons-credit-card:before { content: '\e87f'; } /* '' */
i.icons-cricket:before { content: '\e880'; } /* '' */
i.icons-embassy:before { content: '\e881'; } /* '' */
i.icons-fast-food:before { content: '\e882'; } /* '' */
i.icons-ferry:before { content: '\e883'; } /* '' */
i.icons-fire-station:before { content: '\e884'; } /* '' */
i.icons-football:before { content: '\e885'; } /* '' */
i.icons-fuel:before { content: '\e886'; } /* '' */
i.icons-garden:before { content: '\e887'; } /* '' */
i.icons-giraffe:before { content: '\e888'; } /* '' */
i.icons-golf:before { content: '\e889'; } /* '' */
i.icons-grocery-store:before { content: '\e88a'; } /* '' */
i.icons-harbor:before { content: '\e88b'; } /* '' */
i.icons-heliport:before { content: '\e88c'; } /* '' */
i.icons-hospital:before { content: '\e88d'; } /* '' */
i.icons-industrial-building:before { content: '\e88e'; } /* '' */
i.icons-library:before { content: '\e88f'; } /* '' */
i.icons-lodging:before { content: '\e890'; } /* '' */
i.icons-london-underground:before { content: '\e891'; } /* '' */
i.icons-minefield:before { content: '\e892'; } /* '' */
i.icons-monument:before { content: '\e893'; } /* '' */
i.icons-museum:before { content: '\e894'; } /* '' */
i.icons-pharmacy:before { content: '\e895'; } /* '' */
i.icons-pitch:before { content: '\e896'; } /* '' */
i.icons-police:before { content: '\e897'; } /* '' */
i.icons-post:before { content: '\e898'; } /* '' */
i.icons-prison:before { content: '\e899'; } /* '' */
i.icons-rail:before { content: '\e89a'; } /* '' */
i.icons-religious-christian:before { content: '\e89b'; } /* '' */
i.icons-religious-islam:before { content: '\e89c'; } /* '' */
i.icons-religious-jewish:before { content: '\e89d'; } /* '' */
i.icons-restaurant:before { content: '\e89e'; } /* '' */
i.icons-roadblock:before { content: '\e89f'; } /* '' */
i.icons-school:before { content: '\e8a0'; } /* '' */
i.icons-shop:before { content: '\e8a1'; } /* '' */
i.icons-skiing:before { content: '\e8a2'; } /* '' */
i.icons-soccer:before { content: '\e8a3'; } /* '' */
i.icons-swimming:before { content: '\e8a4'; } /* '' */
i.icons-tennis:before { content: '\e8a5'; } /* '' */
i.icons-theatre:before { content: '\e8a6'; } /* '' */
i.icons-toilet:before { content: '\e8a7'; } /* '' */
i.icons-town-hall:before { content: '\e8a8'; } /* '' */
i.icons-trash:before { content: '\e8a9'; } /* '' */
i.icons-tree-1:before { content: '\e8aa'; } /* '' */
i.icons-tree-2:before { content: '\e8ab'; } /* '' */
i.icons-warehouse:before { content: '\e8ac'; } /* '' */
i.icons-duckduckgo:before { content: '\e800'; } /* '' */
i.icons-aim:before { content: '\e801'; } /* '' */
i.icons-delicious:before { content: '\e802'; } /* '' */
i.icons-paypal:before { content: '\e803'; } /* '' */
i.icons-flattr:before { content: '\e804'; } /* '' */
i.icons-android:before { content: '\e805'; } /* '' */
i.icons-eventful:before { content: '\e806'; } /* '' */
i.icons-smashmag:before { content: '\e807'; } /* '' */
i.icons-gplus:before { content: '\e808'; } /* '' */
i.icons-wikipedia:before { content: '\e809'; } /* '' */
i.icons-mysql:before { content: '\e868'; } /* '' */
i.icons-calendar:before { content: '\e80b'; } /* '' */
i.icons-stumbleupon:before { content: '\e80c'; } /* '' */
i.icons-fivehundredpx:before { content: '\e80d'; } /* '' */
i.icons-pinterest:before { content: '\e80e'; } /* '' */
i.icons-bitcoin:before { content: '\e80f'; } /* '' */
i.icons-w3c:before { content: '\e810'; } /* '' */
i.icons-foursquare:before { content: '\e811'; } /* '' */
i.icons-html5:before { content: '\e812'; } /* '' */
i.icons-ie:before { content: '\e813'; } /* '' */
i.icons-call:before { content: '\e850'; } /* '' */
i.icons-grooveshark:before { content: '\e851'; } /* '' */
i.icons-ninetyninedesigns:before { content: '\e852'; } /* '' */
i.icons-forrst:before { content: '\e853'; } /* '' */
i.icons-digg:before { content: '\e854'; } /* '' */
i.icons-spotify:before { content: '\e814'; } /* '' */
i.icons-reddit:before { content: '\e815'; } /* '' */
i.icons-guest:before { content: '\e816'; } /* '' */
i.icons-gowalla:before { content: '\e817'; } /* '' */
i.icons-appstore:before { content: '\e818'; } /* '' */
i.icons-blogger:before { content: '\e819'; } /* '' */
i.icons-cc:before { content: '\e81a'; } /* '' */
i.icons-dribbble:before { content: '\e81b'; } /* '' */
i.icons-evernote:before { content: '\e81c'; } /* '' */
i.icons-flickr:before { content: '\e81d'; } /* '' */
i.icons-google:before { content: '\e81e'; } /* '' */
i.icons-viadeo:before { content: '\e81f'; } /* '' */
i.icons-instapaper:before { content: '\e820'; } /* '' */
i.icons-weibo:before { content: '\e821'; } /* '' */
i.icons-klout:before { content: '\e822'; } /* '' */
i.icons-linkedin:before { content: '\e855'; } /* '' */
i.icons-meetup:before { content: '\e856'; } /* '' */
i.icons-vk:before { content: '\e857'; } /* '' */
i.icons-plancast:before { content: '\e858'; } /* '' */
i.icons-disqus:before { content: '\e859'; } /* '' */
i.icons-rss:before { content: '\e823'; } /* '' */
i.icons-skype:before { content: '\e824'; } /* '' */
i.icons-twitter:before { content: '\e825'; } /* '' */
i.icons-youtube:before { content: '\e826'; } /* '' */
i.icons-vimeo:before { content: '\e827'; } /* '' */
i.icons-windows:before { content: '\e828'; } /* '' */
i.icons-xing:before { content: '\e829'; } /* '' */
i.icons-yahoo:before { content: '\e82a'; } /* '' */
i.icons-chrome:before { content: '\e82b'; } /* '' */
i.icons-email:before { content: '\e82c'; } /* '' */
i.icons-macstore:before { content: '\e82d'; } /* '' */
i.icons-myspace:before { content: '\e82e'; } /* '' */
i.icons-podcast:before { content: '\e82f'; } /* '' */
i.icons-amazon:before { content: '\e830'; } /* '' */
i.icons-steam:before { content: '\e831'; } /* '' */
i.icons-cloudapp:before { content: '\e85a'; } /* '' */
i.icons-dropbox:before { content: '\e85b'; } /* '' */
i.icons-ebay:before { content: '\e85c'; } /* '' */
i.icons-facebook:before { content: '\e85d'; } /* '' */
i.icons-github:before { content: '\e85e'; } /* '' */
i.icons-github-circled:before { content: '\e832'; } /* '' */
i.icons-googleplay:before { content: '\e833'; } /* '' */
i.icons-itunes:before { content: '\e834'; } /* '' */
i.icons-plurk:before { content: '\e835'; } /* '' */
i.icons-songkick:before { content: '\e836'; } /* '' */
i.icons-lastfm:before { content: '\e837'; } /* '' */
i.icons-gmail:before { content: '\e838'; } /* '' */
i.icons-pinboard:before { content: '\e839'; } /* '' */
i.icons-openid:before { content: '\e83a'; } /* '' */
i.icons-quora:before { content: '\e83b'; } /* '' */
i.icons-soundcloud:before { content: '\e83c'; } /* '' */
i.icons-tumblr:before { content: '\e83d'; } /* '' */
i.icons-eventasaurus:before { content: '\e83e'; } /* '' */
i.icons-wordpress:before { content: '\e83f'; } /* '' */
i.icons-yelp:before { content: '\e840'; } /* '' */
i.icons-intensedebate:before { content: '\e85f'; } /* '' */
i.icons-eventbrite:before { content: '\e860'; } /* '' */
i.icons-scribd:before { content: '\e861'; } /* '' */
i.icons-posterous:before { content: '\e862'; } /* '' */
i.icons-stripe:before { content: '\e863'; } /* '' */
i.icons-opentable:before { content: '\e841'; } /* '' */
i.icons-cart:before { content: '\e842'; } /* '' */
i.icons-print:before { content: '\e843'; } /* '' */
i.icons-angellist:before { content: '\e844'; } /* '' */
i.icons-instagram:before { content: '\e845'; } /* '' */
i.icons-dwolla:before { content: '\e846'; } /* '' */
i.icons-appnet:before { content: '\e847'; } /* '' */
i.icons-statusnet:before { content: '\e848'; } /* '' */
i.icons-acrobat:before { content: '\e849'; } /* '' */
i.icons-drupal:before { content: '\e84a'; } /* '' */
i.icons-buffer:before { content: '\e84b'; } /* '' */
i.icons-pocket:before { content: '\e84c'; } /* '' */
i.icons-bitbucket:before { content: '\e84d'; } /* '' */
i.icons-lego:before { content: '\e84e'; } /* '' */
i.icons-login:before { content: '\e84f'; } /* '' */
i.icons-stackoverflow:before { content: '\e864'; } /* '' */
i.icons-hackernews:before { content: '\e865'; } /* '' */
i.icons-lanyrd:before { content: '\e80a'; } /* '' */
.icons-default:before { content: '\e86d'; } /* '' */