<div class="top-blue-strip"></div>
<style>
body {
    padding-top: 0;
    padding-bottom: 0;
}
</style>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <a style="margin-top: 20px;display: inline-block"  href="{{url "/"}}"><img src="{{url "/themes/theme1/ui/img/logo-login.png"}}"/></a>

            <h1>OOPS!</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="h2-wrapper"><h2>We are really sorry but the page you requested cannot be found.</h2></div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            It seems that the a page you were trying to reach doesn't exist anymore, or maybe it has just moved. We think that the best thing to do is to start again from the <a  href="{{url "/"}}">home page</a>. Feel free to contact us if the problem persist or if you definitely can't find what you are looking for. Thank you very much.
        </div>
    </div>
</div>
