<div class="dashboard-wrapper-a">
    <div class="container content-starter">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{title}}</h1>
                <p>Select a node to view details.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="canvas_container"></div>
                <div id="nodeDetails" class="dashboard-wrapper-b" style="display: none"><img style="padding:20px;" src="{{url "/themes/theme1/ui/img/tmp-details.png"}}" />
                    <a class="close-btn"><i class="fa fa-times-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Dashboard wrapper -->


<script src="{{url "/themes/theme1/ui/js/dashboard.js"}}"></script>