<div class="container content-starter">
    <div class="row">
        <div class="col-lg-12">
            <h1>Error Occurred</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        {{#each error}}
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Error!</strong> {{errorMessage}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
