<!--

 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.

-->

<h1 class="login-title">The most comprehensive enterprise grade PaaS Framework</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12 login-box-wrapper">
            <div class="login-box">
                <div class="login-box-top">
                    <h2 class="login-sub-title">Login to Manage cartridges</h2>
                    <form method="post" action="{{url "/loginSubmit"}}" id="loginForm">
                        <div class="username-wrapper">
                            <input name="username" id="username" class="input-username" type="text" placeholder="Username" />
                        </div>
                        <div class="password-wrapper">
                            <input name="password" id="password" class="input-password" type="password" placeholder="Password" />
                        </div>

                        <div class="login-button-wrapper">
                            <div class="loginError" id="loginError" {{#unless hasError}}style="display: none"{{/unless}} >{{#if hasError}}{{error}}{{/if}}</div>
                            <button class="btn btn-primary login-button" type="button" id="loginButton">Sign In</button>
                        </div>
                    </form>
                </div>
                <div class="login-box-bottom">
                    <label class="pull-left"><input type="checkbox" /> Stay Signed In</label>
                    <!--<label class="pull-right"><a>Create an account</a></label>-->
                    <div style="clear: both"></div>
                </div>
            </div>
            <br />
            <div class="login-box-footer"></div>
        </div>
    </div>
</div>
<script src="{{url "/themes/theme1/ui/js/login.js"}}"></script>
