<h1 class="login-title">The most comprehensive enterprise grade PaaS Framework</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-12 login-box-wrapper">
            <div class="login-box">
                <div class="login-box-top">
                    <h2 class="login-sub-title">Login to create cartridges</h2>
                    <form>
                        <div class="username-wrapper">
                            <input class="input-username" type="text" placeholder="Email" />
                        </div>
                        <div class="password-wrapper">
                            <input class="input-password" type="text" placeholder="Password" />
                        </div>

                        <div class="login-button-wrapper">
                            <button class="btn btn-primary login-button" type="button">Sign In</button>
                        </div>
                    </form>
                </div>
                <div class="login-box-bottom">
                    <label class="pull-left"><input type="checkbox" /> Stay Signed In</label>
                    <label class="pull-right"><a>Create an account</a></label>
                    <div style="clear: both"></div>
                </div>
            </div>
            <br />
            <div class="login-box-footer"></div>
        </div>
    </div>
</div>