<div id="centered">
    <div class="row title">
        <div class="title-main text-center">
            <h1>Application - {{applicationName}}</h1>
        </div>
    </div>
    <div class='container' id='content'>
        <div class='row'>
            <div class='container text-center form-toolbar'>
                    <div class='col-md-1'><button class='btn btn-default btn-lg' type='button' onclick='window.location.replace(document.referrer)'> Back</button></div>
            </div>
        </div>
        <div class="right-side">
            <div class="app-creator">
                <div id="whiteboard">

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var applicationJSON = {{{applicationJSON}}};
</script>