<div class="slidewindow left">
    <div class="row">
        <div class="slidewindow-content">
            <ul class="menu">
                {{{left_menu}}}
             </ul>
        </div>
        <div class="slidewindow-handle"><i class="fa fa-bars"></i></div>
    </div> 
</div>