<div class="row title">
    <div class="title-main text-center">
        <h1>{{content_title}}</h1>
    </div>
</div>
<div class="container content">
    <div class="row text-center">
        <div class='container text-center form-toolbar'>
            <div class='col-md-5'>
                <button class='btn btn-default btn-lg pull-left button-gap' type='button' onclick='window.location.replace(document.referrer)'> Back</button>
            </div>
            <div class='col-md-7'>
            </div>
        </div>
        <div class="row general-table row-overide">
            <table class="table">
            {{{content_body.myCartridgeInfo}}}
            </table>
        </div>

    </div>
</div>