global
    daemon
    maxconn 256
    $global_parameters

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

$frontend_http_collection

$frontend_https_collection

$backend_http_collection

$backend_https_collection

