<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite">
  <test verbose="2" name="Default test">
    <classes>
      <!--class name="org.wso2.carbon.lb.common.test.AgentPersistenceManagerTest">
          <methods>
            <include name="addZone" />
              <include name="addHostMachine" />
              <include name="deleteHostMachine" />
          </methods>
      </class-->
    </classes>
  </test>
</suite>
