/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
*/

.sel-box{
	background-image:url(../images/sel-02.jpg);
	background-repeat:repeat-x;
	background-position:0 0;
	background-color:#f2f2f2;
	border: inset 2px #48657a;
	padding:3px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.sel-box span{
	color:#1c475f;
	font-weight:bold;
	text-align:center;
	font-size:14px;
	line-height:30px;
}
.nor-box{
	background-color:#ffffff;
	border: solid 1px #7699b3;
	padding:3px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}
.nor-box span{
	color:#1c475f;
	font-weight:bold;
	text-align:center;
	line-height:30px;
}
