/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
*/

div#validation-introduction {
    margin: 5px;
}

div#with-text {
    margin: 5px;
}

div#with-dns {
    margin: 5px;
}
p {
    padding:5px !important;
}

p.validate-button {
    padding: 15px 5px 15px 5px !important;
}

li.catagory {
    padding: 5px 0px 5px 25px  !important;
}



div.conf-info {
    background: #cccccc !important;
    border: 1px solid #111 !important;
    margin: 5px !important;
    padding: 2px !important;
}
