body {
	color:#111111;
	font-size:0.75em;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25em;
	background-image: url(../images/body-bg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}

div.clear {
	clear:both;
}
p { }

td { }

a:link { }

a:visited { }

a:hover { }

a:active { }

div.features {
	background-image: url(../images/features-bg.gif);
	background-position: 39px 30px;
	background-repeat: no-repeat;
}
div.feature {
	float: left;
	width: 221px;
	margin-left: 39px;
	margin-top: 30px;
	padding: 20px;
	text-align: left;
}
div.feature img {
	float: left;
	margin-right: 10px;
	width: 64px;
}
div.feature h2 {
	margin-top: 0px;
	margin-bottom: 7px;
	color: #0499CC;
	font-size: 155%;
	line-height: 110%;
	font-weight: normal;
	
}
div.feature p {
	margin-top: 0px;
	padding-top: 0px;
}
td.page-header-help a{
    position:absolute;
    right:20px;
}
div#middle div#workArea {
    padding:0px;
}
.registration_help{
    color:#555;
    line-height:25px;
}
.toggle_container ,h2.trigger {
    box-shadow: none;
}
.leftCol-med{
    width:180px;
}