body {
	color:#111111;
	font-family:"Calibri","Lucida Grande","Lucida Sans","Microsoft Sans Serif","Lucida Sans Unicode","Verdana","Sans-serif","trebuchet ms" !important;
	font-size:0.75em;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.25em;
	background-position: left top;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}

div.clear {
	clear:both;
}
p { }

td { }

a:link { }

a:visited { }

a:hover { }

a:active { }
