<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="WSO2 Stratos Manager Test Suite">
    <test name="testing" preserve-order="true">
        <classes>
            <class name="org.wso2.stratos.manager.integration.tests.StratosManagerTestServerManager"/>
            <class name="org.wso2.stratos.manager.integration.tests.LoginLogoutTestCase"/>
            <class name="org.wso2.stratos.manager.integration.tests.SecurityVerificationTestCase"/>
            <class name="org.wso2.stratos.manager.integration.tests.TenantMgtTestCase">
                <methods>
                    <include name="init"/>
                    <include name="addTenantTest"/>
                    <include name="activateTenantTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>