.treeControl ul{
    padding:0px;
    margin:0px;
}

.treeControl ul li{
    list-style:none;
    padding-left:15px;
    padding-top:5px;
    white-space:nowrap;
}
.treeControl ul li a.plus{
    background-image:url(../images/plus.gif);
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
}
.treeControl ul li a.minus{
    background-image:url(../images/minus.gif);
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
}
.treeControl ul li a.nodata{
    background-image:url(../images/nodata.gif);
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
}
.treeControl ul li a.treeNode{
    cursor:pointer;
    color:#4c99c3;
}