.treeControl ul{
    padding:0px;
    margin:0px;
}

.treeControl ul li{
    list-style:none;
    padding-left:15px;
    padding-top:5px;
    white-space:nowrap;
    line-height:20px;
}
.treeControl ul li a.plus{
    background-image:url(../images/icon-tree-plus.gif);
    /*background-image:url(../images/plus.gif);*/
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
    font-size:20px;
}
.treeControl ul li a.minus{
    background-image:url(../images/icon-tree-minus.gif);
    /*background-image:url(../images/minus.gif);*/
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
    font-size:20px;
}
.treeControl ul li a.nodata{
    background-image:url(../images/nodata.gif);
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
}
.treeControl ul li a.treeNode{
    cursor:pointer;
    color:#4c99c3;
}
.branch-node {
    background-image: url( ../images/line.png );
    background-repeat: repeat-y;
    background-position: 8px 0px;
    height: 15px;
    margin-left:26px;
margin-top:0px;
	width: 16px;
float: left;
clear: left;
}
.addSubtopicStyle {
background-image:url(../images/add.gif);
background-repeat:no-repeat;
background-position:0 0;
padding-left:22px;
padding-right: 0px !important;
}
.topicDetailsStyle {
background-image:url(../images/details.gif);
background-repeat:no-repeat;
background-position:0 0;
padding-left:22px;
padding-right: 0px !important;
}
.topicSubscribeStyle {
background-image:url(../images/subscribe.gif);
background-repeat:no-repeat;
background-position:0 0;
padding-left:22px;
padding-right: 0px !important;
}
.topicDeleteStyle {
background-image:url(../images/delete.gif);
background-repeat:no-repeat;
background-position:0 0;
padding-left:22px;
padding-right: 0px !important;
}