/* ---------------- template styles ------------------------- */

table#main-table td#header {
	background-image: url( ../images/scc-header-repeat.png);
	border-bottom: 1px solid #464646;
	height:84px;
}

/* ---------------- header styles ------------------ */
div#header-div {
    background-image: url( ../images/scc-back.png);
	height:84px;
}

div#header-div div.left-logo {
	background-image: url( ../images/scclogo.png );
    margin-left: 24px;
    margin-top: 27px;
}

div#header-div div.right-logo {
	color: #02516b;
    height: 27px;
    line-height: 27px;
    margin-right: 20px;
    margin-top: 10px;
    padding-right: 0;
    padding-top: 5px;
}
div#header-div div.header-links {
	margin-top:-10px;
}
div#header-div div.header-links div.right-links {
	margin-right: 0px;
	height: 35px;
	padding-top: 0px;
}
div#header-div div.header-links div.right-links ul {
	background-image:url("../images/right-links-bg.gif");
	background-position:left top;
	background-repeat:repeat-x;
	padding-left: 25px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 7px;
}
div#middle h2{
	color:#34323b;
}
/* ------------- menu styles ---------------------- */
div#menu {
}

div#menu ul.main {
}

div#menu ul.main li {
}

div#menu ul.main li.normal {
}

div#menu ul.main li a.menu-home {
background-image:url(../images/menu_header.png);
height:28px;
}

div#menu ul.main li.menu-header {
	background-image: url(../images/menu_header.png);
	background-position: left bottom;
	background-repeat: repeat-x;
	height: 32px;
	line-height: 32px;
}

div#menu ul.main li a.menu-default {
}

div#menu ul.main li a.menu-default:hover {
	background-color: #EFECF5;
	border-bottom: solid 1px #C2B7D8;
	border-top: solid 1px #C2B7D8;
	color: #00447C;
}

div#menu ul.sub {
}
/* -------------- Sidew menu styles --------------- */

.menu-panel-buttons{
  

    background-color: #827d91;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;

    -moz-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-radius: 2px;

    margin-bottom:10px;
    height:48px;
    padding: 10px 4px;
    padding-bottom:10px;


    text-align: center;
}
.menu-panel-buttons span{
    color: #fff;
	background-color:transparent;
}
.menu-panel-buttons span.ie{
	margin-left:0px;
    *margin-left:-10px;
    margin-top:-10px;
}
div.selected{
    border:solid 1px #000;
}
div.selected{
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    box-shadow: 3px 3px 3px #888;
}
div.selected span{
    color:#c9e3f2;  
	background-color:transparent;
}
#menu-panel-button0{
    height:20px;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:2px;
    cursor:pointer;
}

.showToHidden{
    background:transparent url(../images/leftRightSlider-dark.png) no-repeat 0 0;
}
.hiddenToShow{
    background:transparent url(../images/leftRightSlider-dark.png) no-repeat -35px 0;
}
.vertical-menu{
    background-color: #b0bcc3;
    width:20px;
}

/* -- Footer Styles */

table#main-table td#footer {
    background-color: #464646;
}
