/*td.packageCol {
    border-bottom: 1 solid #CCC !important;
}

div#exp {
    color: #0f0;
}*/
.invoice-header td{
    background-color:#e7e7e7;
    font-weight:bold;
}
.invoiceTable{
    border-collapse:collapse;
}
.invice-data-table{
    border-collapse:collapse;
    border-top:solid 1px #e7e7e7;
    border-right:solid 1px #e7e7e7;
    width:100%;
}
.invice-data-table tr.invoice-content-row td{
    border-bottom:solid 1px #e7e7e7;
    border-left:solid 1px #e7e7e7;
}
.invoiceTable tr td{
    padding:5px !important;    
}
.name-field{
    font-weight:bold;
}
.invoice-heading{
    text-transform:uppercase;
    font-size:30px;
    font-weight:bold;
    line-height:40px;
}
.invoice-sub-heading{
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
    line-height:40px;    
}
ul.invoice-inside-listing{
    margin-top:10px;
}
ul.invoice-inside-listing li{
    height:25px;
    letter-spacing:1.2px;
}
.terms-section-header{
    font-weight:bold;
}
.terms-section{
    width:200px;
    text-align:justify;
    color: #666666;
    margin-left:20px;
}
