.disableLink {
    color: #aaaaaa;
}

.pageLinks {
    background: #FFFFFF none repeat scroll 0%;
    border: 1px solid #DDDDDD;
    padding: 2px 3px;
    text-decoration: none;
    margin: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.pageLinks-selected {
    background: #e8e9ae none repeat scroll 0%;
    border: 1px solid #DDDDDD;
    padding: 2px 3px;
    text-decoration: none;
    margin: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

a {
    color: #386698;
    cursor: pointer;
}