/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
*/
.right-side{
    float: left;
    width: 100%;
    margin-top:20px;
}

.app-creator {
    height: 600px;
    background-color: rgb(244, 244, 244);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
    position: relative;
}

#whiteboard{
    width: 100%;
    height: 585px;
    position: absolute;
    overflow: auto;
}
.stepnode {
    border: 1px solid silver;
    position: absolute !important;
    width: 5em;
    height: 5em;
    padding: 0.5em;
    z-index: 1;
    border-radius: 0.5em;
    box-shadow: 2px 2px 19px #aaa;
    background: white;
    word-wrap: break-word;
    padding-top: 24px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stepnode i {
    margin-top: 2px;
    color: #e67e22;
}

.notification {
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 52px;
    left: 52px;
}

.stepnode-disable{
    background-color: rgb(228, 228, 228);
}

#deploy-ui>div>h3{
     display: none;
 }
