.right-side{
    float: left;
    width: 100%;
    margin-top:20px;
}

.app-creator {
    height: 600px;
    background-color: rgb(244, 244, 244);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
    position: relative;
}

#whiteboard{
    width: 100%;
    height: 585px;
    position: absolute;
    overflow: auto;
}
.stepnode {
    border: 1px solid silver;
    position: absolute !important;
    width: 5em;
    height: 5em;
    padding: 0.5em;
    z-index: 1;
    border-radius: 0.5em;
    box-shadow: 2px 2px 19px #aaa;
    background: white;
    word-wrap: break-word;
    padding-top: 24px;
    text-align: center;
    cursor: pointer;
}
.stepnode i {
    margin-top: 2px;
    color: #e67e22;
}

.notification {
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 52px;
    left: 52px;
}

.stepnode-disable{
    background-color: rgb(228, 228, 228);
}

#deploy-ui>div>h3{
     display: none;
 }
