/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
*/
#general>div>h3{
    display: none;
}
.left-side{
    float: left;
    width: 20%;
}

.right-side{
    float: left;
    width: 79%;
    margin-top:20px;
}
#group-base{
    left: 318px;
    top: 33px;
}

.stepnode {
    border: 1px solid silver;
    position: absolute !important;
    width: 5em;
    height: 5em;
    padding: 0.5em;
    z-index: 1;
    border-radius: 0.5em;
    box-shadow: 2px 2px 19px #aaa;
    background: white;
    word-wrap: break-word;
    padding-top: 24px;
    text-align: center;
    cursor: pointer;
}

.stepnode span{
    position: absolute;
    width: 4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: -27px;
}

.block-cartridge {
    border: 1px solid silver;
    border-radius: 0.5em;
    width: 80px;
    height: 80px;
    background-color:#CCC;
    float: left;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
    padding-top: 24px;
    cursor: pointer;
}

.block-group {
    border: 1px solid silver;
    border-radius: 0.5em;
    width: 80px;
    height: 80px;
    background-color: #CCC;
    float: left;
    margin: 5px;
    padding: 5px;
    word-wrap: break-word;
    padding-top: 24px;
    cursor: pointer;
}

.app-creator {
    height: 600px;
    background-color: rgb(244, 244, 244);
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
    position: relative;
}

#whiteboard{
    width: 100%;
    height: 585px;
    position: absolute;
    overflow: auto;
}

.description{
    min-height: 300px;
    max-height: 400px;
}
.component-section{
    max-height: 200px;
    overflow: auto;
    min-height: 200px;
}

.description-section{
    min-height: 260px;
    max-height: 400px;
    overflow: auto;
}

.app-details {
    margin: 10px;
}

.app-details-tab-content{
    border: 1px solid #ddd;
    border-top: transparent;
    min-height: 233px;
    padding: 20px;
    border-radius:  0 0 4px 4px;
}
.dragActive {
    border: 2px dotted orange;

}

.input-false{
    background-color: #CCC;
    border-color: #ddd;
    border-width: 1px;
}

#component-info-update{
    margin-top: -5px;
    margin-bottom: 20px;
    float: right;
    z-index: 100;
    position: relative;
}

.stepnode i {
    margin-top: 0px;
    color: #e67e22;
    margin-left: -7px;
}

.notification {
    position: absolute;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    top: 52px;
    left: 52px;
}
.reposition {
    float: right;
    margin: 11px 20px;
    padding: 5px;
    background-color: white;
    border-radius: 40px;
    width: 40px;
    z-index: 9999;
    position: relative;
    cursor: pointer;
}

.reposition i{
    padding-left: 4px;
    color: rgb(93, 170, 254);
    padding-top: 2px;
}
