.node rect {
    fill: #fff;
}

.node text { font: 12px sans-serif; }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.application-topology {
    text-align: center;
    width: 82%;
    float: right;
    padding: 5px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    margin: 0 15px;
}

.st-active{color: #1abc9c;}
.st-created{color: #e67e22;}
.st-inactive{color: #7f8c8d;}
.st-terminated{color:#c0392b;}
.st-other{color:#CCC;}

.left-side {
    float: left;
    width: 15%;
}

.keys>div {
    margin-top: 7px;
}

.popover-content {
    font-size: 13px;
}

.popover.top>.arrow {
    left: 60%;
}

#export{margin-right: 5px;}