body, div, h1,h2,h3,h4,h5, p, span{
    font-family: 'Open Sans', sans-serif;
}
a{cursor: pointer}
a:hover{text-decoration: none}
.top-blue-strip{
    background: #18c3f4;
    height: 6px;
}
.login-logo-section{
    text-align: center;
    width: 100%;
    padding:20px 0;
}
h1.login-title{
    font-size:28px;
    text-align: center;
    padding-bottom:20px;
    margin:0;
}
h2.login-sub-title{
    font-size:14px;
    background: transparent url(../img/transparent-white.png) repeat left top;
    padding:5px;
    margin:20px 0;
}
.login-box-wrapper{
    text-align: center;
}
.login-box{
    width:415px;
    display: inline-block;
}
.login-error{
    color: #FF0000;
    margin: -18px 0 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 415px;
}
.login-box-top{
    background: #e8ebeb url(../img/clouds.png) no-repeat 40px 10px;
    border-radius: 0;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-top:10px;
    padding-bottom:10px;
}
.login-box-bottom{
    background: #c1c1c1;
    border-radius: 0;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding:20px 10px;
    text-align: left;
}
.login-box-footer{
    background: transparent url(../img/login-shadow.png) no-repeat left top;
    width:440px;
    height: 64px;
    margin-top:10px;
    display: inline-block;
}
.username-wrapper{
    background: #c1c1c1 url(../img/icon-user.png) no-repeat 8px 16px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height:60px;
    margin:0 10px;
    padding-left:40px;
}
.password-wrapper{
    background: #c1c1c1 url(../img/icon-lock.png) no-repeat 8px 16px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height:60px;
    margin:0 10px;
    padding-left:40px;
}
.login-button-wrapper{
    margin:20px 10px;
}
div.username-wrapper input.input-username{
    height:60px;
    width:100%;
    font-size: 16px;
}
div.password-wrapper input.input-password{
    height:60px;
    width:100%;
    font-size: 16px;
}
.login-button{
    height:40px;
    width:100%;
    font-size: 16px;
}
.footer-right{
    width:400px;
    font-size: 11px;
}
/* Sticky footer styles
     -------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 62px;
    padding-top:10px;

}
#footer{
    background: #e8ebeb;
}
